<header>
    <img src="assets/img/foto.jpeg" alt="Foto de Perfil" width="130px" height="130px" loading="eager" />
    <h1>Gabriel Kenji</h1>
</header>

<aside>
    <div class="container">
        <p>Engenheiro de Software-UTFPR | Springboot | Node.js | Angular | React | MySQL</p>
        <p>Cornélio Procópio, Paraná - Brasil</p>
        <p>Estou atualmente no curso de Bacharelado em Engenharia de Software pela Universidade Tecnológica Federal do Paraná (UTFPR) do campus Cornélio Procópio, onde curso o 4º período. Tenho uma notável facilidade em assimilar e dominar novos conteúdos além de testá-los em prática. Além disso, consigo lidar e colaborar eficazmente em ambientes de trabalhos em equipe em busca de ótimos resultados. Procuro constantemente oportunidades e conhecimentos para enriquecer, melhorar e aperfeiçoar minha jornada acadêmica e profissional com uma gama de experiências significativas. </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download CV</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/gabrielkenjiinoue/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para o contato" width="22px" height="24px"/>

                <figcaption>
                    <a href="https://web.whatsapp.com/" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>Whatsapp: (14) 99792-1366</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para o contato" width="22px" height="24px"/>

                <figcaption>
                    <a href="mailto:kenji.inoue@hotmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>kenji.inoue&#64;hotmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>