:root {
    --primary: #1D19AC;
    --primary-010: #223971;

    --secondary: #CB2026;

    --yellow: #ffc906;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;

    --linkedin: #0E76A8;
}